<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <h1 style="color: #bcbcbc!important;">EIPWS v0.1</h1>
  </div>
  <div class="row">
    <h4 style="color: #bcbcbc!important;">Emmanuel Istace Personal Website System</h4>
  </div>
  <div class="row">
    <p>----------------------------------------------------------------------------------------------</p>
  </div>
  <div class="row">
    <p>
      Available commands :
      <span (click)="OpenCommand('bio')">bio</span> -
      <span (click)="OpenCommand('work')">work</span> -
      <span (click)="OpenCommand('music')">music</span> -
      <span (click)="OpenCommand('project')">project</span> -
      <span (click)="OpenCommand('contact')">contact</span> -
      <span (click)="OpenCommand('clear')">clear</span> -
      <span (click)="OpenCommand('help')">help</span>
    </p>
  </div>
  <div class="row">
    <p>Type help for more information</p>
  </div>

  <div *ngFor="let command of CommandRepository.TypedCommands">
    <app-terminal-input></app-terminal-input>
  </div>


</div>
