<div class="row">
  <div class="col-4">
    <img src="../../assets/photo.jpg" width="350">
  </div>
  <div class="col-8">
    <p>
      <br />
      A bit more about the programming side, I started programming around 11 with basic HTML/CSS websites
      then moved to C, spend few years during teenage writting python software, learned php and javascript, also spend time
      playing with funky language like Erlang, Lisp or Haskell. I also was spending most
      of my time doing security hacking related stuffs with those languages. Meanwhile
      I also invested a lot of time on the Microsoft .Net technology and quickly found jobs related to .Net in the industry.
      I spend the last 10 years writting .Net software, both back and front-end, web or desktop, mobile and embedded, lot of stuff.
      I also have a passion for hacking stuffs, I don't like limitation, I want to be free.<br >
      <br />
      Now a bit more about music, I started bass at 13 then quickly moved to guitar to be able to follow a classical cursus.
      I then also learned a bit of piano and a lot of CAM knowledge. I primarly work with Steinberg Cubase.
      I had few rock bands, with little to no success, most of them are disbanded today.
      But I still play, I have preference for blues and jazz style, also 60's rock and psychedelic music. I listen
      to anything, jazz, electro, rock, pop, classical, anything.
    </p>
  </div>
</div>

