<div class="row">
  <div class="col-12">
    <p>
      I have tons of side project, most of them are not documented or released. <br/>
      Or few of them are unmaintained for years like my <a href="http://nintenduino.wordpress.com" target="_blank">Nintenduino</a> <br />
      I recently started to dive into console hacking, <a href="https://github.com/Manu404/" target="_blank">check my github</a> to see what I do. <br />
      I work on a <a href="https://github.com/Manu404/HelloShmup3DS" target="_blank">Shoot'em'up game for the Nintendo 3DS</a>
      and a <a href="https://github.com/Manu404/GameOfLife-3DS" target="_blank">Conway's Game Of Life implementation for the nintendo 3DS</a> currently.
      I also have the idea to create a midi step sequencer software running game of life <br />
    </p>
  </div>
</div>
