<div class="row">
  <div class="col-12">
    <p>
     You can listen to what I do on
      <a href="https://soundcloud.com/emmanuel-istace" target="_blank">my old soundcloud</a>,
      <a href="https://soundcloud.com/emmanuel-istace-267151018" target="_blank">current soundcloud</a>
      or <a href="https://www.youtube.com/channel/UCumkOlHv-Kvj8F_H7OqSDsw" target="_blank">youtube channel</a>. <br />
      Hope you'll enjoy it ! <br />
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rWr-dtA79C4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     </p>
  </div>
</div>
